



.callUsContent {
  overflow-y: auto;
  height: auto;
}
.buttonGrp {
  display: flex;
  justify-content: space-evenly;
}

.IconBtn{
    cursor: pointer;
}

.switchBtns{
  background-color: #FA6105;
}

