<div class="started">
  <div class="start">
    <h1><b>Begin</b></h1>
  </div>

  <div class="row">
    <div class="col-md-3">
      <div class="send">
        <mat-card style="width: 90%;height: 40%;">
          <mat-icon>send</mat-icon>
          <span id="send">Versturen</span>
          <div style="padding-top: 8%">
            <button mat-button>Citaat</button>
          </div>
          <div>
            <button mat-button>Factuur</button>
          </div>
        </mat-card>
      </div>
      <div class="receive">
        <mat-card style="width: 90%;height: 40%;">
          <mat-icon>archive</mat-icon>
          <span id="archive">Ontvangen</span>
          <div style="padding-top: 8%">
            <button mat-button>Ontvangst of factuur</button>
          </div>
        </mat-card>
      </div>

      <div class="overview">
        <mat-card style="width: 90%;height: 40%;">
          <mat-icon>trending_up</mat-icon>
          <span id="trending_up"> Overzicht</span>
          <div style="padding-top: 10%">
            <button mat-button>Dashboard</button>
          </div>
          <div>
            <button mat-button>Openstaande facturen</button>
          </div>
        </mat-card>
      </div>
    </div>

    <div class="col-md-4" style="padding-top: 1%">
      <mat-card style="height: 100%; width: 90%">
        <mat-icon><span class="material-icons">download_done</span></mat-icon>
        <span id="download_done">Taken</span>
        <div class="abc" style="font-size: small">
          <p>
            Het is tijd om uw boekjaar weer af te sluiten, zodat u de resultaat
            dat u in het afgelopen jaar heeft behaald.
          </p>
          <div class="closeyear">
            <p>Jaar afsluiten</p>
          </div>
          <hr />
        </div>
        <div class="abc" style="font-size: small">
          <p>
            Vul uw bedrijfsgegevens in met uw btw-nummer en btw identificatie
            Nummer.
          </p>
          <div class="company">
            <p>Bedrijf</p>
          </div>

          <hr />
        </div>
        <div class="abc" style="font-size: small">
          <p>
            Installeer SnelStart 12 om aan de slag te gaan met je boekhouding.
          </p>
          <div class="download">
            <p>Windows-app downloaden</p>
          </div>
          <hr />
        </div>
        <div class="abc" style="font-size: small">
          <p>
            U kunt uw aankoopfactuur of kwitantie rechtstreeks naar uw
            administratie, wat heel eenvoudig is.
          </p>
          <div class="admin">
            <p>Opgericht</p>
          </div>
          <!-- <hr /> -->
        </div>
        <!-- <div class="abc" style="font-size: small">
        <p>There is still 1 marked purchase or question item to check.</p>
        <div class="check">
          <p>Checked Marked Purchaces</p>
        </div>
      </div> -->
      </mat-card>
    </div>
    <div class="col-md-4" style="padding-top: 1%">
      <mat-card style="height: 60%; width: 100%">
        <mat-icon>rss_feed</mat-icon>
        <span id="rss_feed">actueel</span>
        <div>
          <img
            src="https://www.snelstart.nl/hubfs/BLOG_afbeeldingen/2021/Productnieuws/Productnieuws%20inlogscherm%20Android.png"
            alt=""
          />
        </div>
        <div class="content">
          <p>
            Nieuw inlogscherm QuickStart App voor Android gebruikers 19-07-2021
            Na het inlogscherm van SnelStart Web aanpassen, nu is het de beurt
            aan de inlogscherm van de SnelStart App voor Android gebruikers. Dit
            zal zijn actief met de volgende app-update. Het inlogscherm van de
            SnelStart App voor Apple-gebruikers (iOS) wordt te zijner tijd ook
            aangepast.
          </p>
        </div>
        <!-- <br /> -->
      </mat-card>
    </div>
    <div class="col-md-4"></div>
  </div>
</div>
