<div class="financial" >
  <h1 style="padding-left: 2%; padding-top: 4%"><b>financieel</b></h1>
  <div class="row">
    <div class="main flex-container">
      <mat-card style="height: 110%; width: 90%" >
        <div class="col-md-5">
          <div class="image">
            <img
              src="https://web.snelstart.nl/assets/img/zero-state/Btw-aangifte.svg"
              alt=""
            />
          </div>
        </div>
        <div class="ctent">
          <h1>Doe je eerste btw-aangifte</h1>
        </div>
        <div class="add">
          U bent btw-plichtig en daarom moet u btw-aangifte doen. Jij
          bereken je btw aan klanten en betaal je btw aan leveranciers.
        </div>
        <div class="add2">
          Het verschil tussen beide is de btw die u moet betalen of die u
          terugkrijgen van de belastingdienst.
        </div>
  
        <div class="button">
          <button mat-raised-button color="warn">Btw-aangifte doen</button>
          <!-- <button mat-button color="">Change Quatation Format</button> -->
  
          <!-- <button style="background-color:#fa6105">Make an Offer</button>
          <button style="margin-left: 2% ">Change Quatation Format</button> -->
        </div>
      </mat-card>
    </div>
  </div>
  </div>
  