<nav style="--bs-breadcrumb-divider: '|'" aria-label="breadcrumb" >
  <ol class="breadcrumb">
    <li class="breadcrumb-item" id="marginlft">Snellstart © 2021</li>
    <li class="breadcrumb-item" id="centeredbreadcrumb">
      <a href="#"> ik heb een vraag </a>
    </li>
    <li class="breadcrumb-item" id="marginlft">
      <a href="#"> ik heb een idee </a>
    </li>
    <li class="breadcrumb-item" id="marginlft">
      <a href="#"> Hulp op afstand </a>
    </li>
    <li class="breadcrumb-item" id="marginlft"><a href="#"> Voorwaarden  </a></li>
    <li class="breadcrumb-item" id="marginlft">
      <a href="#"> Wat is er nieuw ? </a>
    </li>
  </ol>
</nav>
