<div class="container">
    <div class="row">
        <mat-form-field appearance="outline">
            <mat-label>
                Voer id in</mat-label>
            <input autocomplete="off" matInput #conversation_Id placeholder="Conversation-Id">
            <mat-icon matSuffix>search</mat-icon>
          </mat-form-field>
    </div>
    <div class="row">
        <button mat-raised-button color="primary" (click)="getData(conversation_Id.value)">Chatgeschiedenis ophalen</button>
    </div>
</div>


<div class="container-fluid my-2">
    <div class="card my-4 row">
        <ul id="chat-message" class="chat-Message"></ul>
    </div>
</div>