/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-form-field-infix {
  width: 250px !important;
}

@media (min-width: 1536px) {
  .mat-form-field-infix {
    width: 250px !important;
  }
}
@media (max-width: 1536px) {
  .mat-form-field-infix {
    width: 180px !important;
  }
}

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #fad7a0;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #f5b041;
}

//Snack bar
.blue-snackbar {
  background: #FF9966;
  color: black;
}
