<div class="links">
  <div class="start">
    <h1><b>Begin</b></h1>
  </div>
  <div class="row">
    <div class="col-md-4" >
      <mat-card style="border-radius: 5%;">
        <div style="padding-left: 30%">
          <img
            src="https://web.snelstart.nl/assets/img/zero-state/Btw-aangifte.svg"
            alt=""
          />
        </div>

        <div style="padding-top: 5%; text-align: center">
          <p>
            Bij SnelStart is het mogelijk om uw administratie te koppelen aan uw
            Knab Zakelijke rekening. Met de link is het lezen van
            bankafschriften een fluitje van een cent het verleden! Transacties
            op uw account worden dagelijks automatisch gelezen en verwerkt in de
            agenda van uw bank. Dit scheelt veel tijd en verkleint de kans op
            fouten. Zo wordt boekhouden nog makkelijker!
          </p>
        </div>
      </mat-card>
    </div>

    <div class="col-md-4">
      <mat-card style="border-radius: 5%;">
        <div style="padding-left: 30%">
          <img
            src="https://web.snelstart.nl/assets/img/zero-state/Btw-aangifte.svg"
            alt=""
          />
        </div>

        <div style="padding-top: 5%; text-align: center">
          <p>
            Bij SnelStart is het mogelijk om uw administratie te koppelen aan uw
            Knab Zakelijke rekening. Met de link is het lezen van
            bankafschriften een fluitje van een cent het verleden! Transacties
            op uw account worden dagelijks automatisch gelezen en verwerkt in de
            agenda van uw bank. Dit scheelt veel tijd en verkleint de kans op
            fouten. Zo wordt boekhouden nog makkelijker!
          </p>
        </div>
      </mat-card>
    </div>

    <div class="col-md-4">
      <mat-card style="border-radius: 5%;">
        <div style="padding-left: 30%">
          <img
            src="https://web.snelstart.nl/assets/img/zero-state/Btw-aangifte.svg"
            alt=""
          />
        </div>

        <div style="padding-top: 5%; text-align: center">
          <p>
            Bij SnelStart is het mogelijk om uw administratie te koppelen aan uw
            Knab Zakelijke rekening. Met de link is het lezen van
            bankafschriften een fluitje van een cent het verleden! Transacties
            op uw account worden dagelijks automatisch gelezen en verwerkt in de
            agenda van uw bank. Dit scheelt veel tijd en verkleint de kans op
            fouten. Zo wordt boekhouden nog makkelijker!
          </p>
        </div>
      </mat-card>
    </div>
  </div>
</div>
