
<div class="Quotations">

  <h1 style="padding-left: 2% ;padding-top: 4%;"><b>Citaten</b></h1>
  <div class="row" >
    <div class="main flex-container">
  
      <mat-card style="height: 100%; width: 90%">
        <div class="col-md-5">
          <div class="image">
            <img
              src="https://web.snelstart.nl/assets/img/zero-state/Offertes.svg"
              alt=""
            />
          </div>
        </div>
        <div class="ctent">
          <h1>Voeg je eerste offerte toe</h1>
        </div>
        <div class="add">
          In een offerte beschrijf je de producten en diensten die je gaat doen
          voorzien in. U kunt een offerte later omzetten naar een factuur.
        </div>
  
        <div class="button">
          <button mat-raised-button color="warn">Doe een bod</button>
          <button mat-button color="">
            Quatation-indeling wijzigen</button>
  
          <!-- <button style="background-color:#fa6105">Make an Offer</button>
          <button style="margin-left: 2% ">Change Quatation Format</button> -->
        </div>
  
      </mat-card>
    </div>
  </div>
  </div>