
@media only screen and (min-width: 1250px){


    .row{
        padding-left: 8%;
        padding-top: 5%;
    }
    .image{
        padding-left: 96%;
        padding-top: 8%;
    }
    .ctent{
        padding-top: 2%;
        padding-left: 37%;
        // font-style: oblique;
    }
    .add{
        padding-left:20% ;
        font-size: medium;
        font-style: initial;
    }
    // .main{
    //     display: flex;
    // }
    .button{
        padding-left: 32%;
        padding-top: 2%;
        margin-left: 2%;
        border-radius: 25%;
    }
    
    .Quotations{
        background-color: #f5f5f5;
        height:100% ;
    }


}



