

@media only screen and (min-width: 1250px){

    .main{
        padding-top: 20%;
        padding-left: 12%;
    }
    .content{
        padding-top: 2%;
        padding-left: 40%;
    }
    .button{
        padding-top: 2%;
        padding-left: 40.5%;
    }
    
    .Invoices{
        height: 100%;
        background-color: #f5f5f5;
    }

}


