

<div class="cash">

  <h1 class="start"><b>Contant en bank</b></h1>
  <div class="row">
    <div class="col-md-4 ">
      <!-- <mat-card style="height: 100%;width: 120%;">  -->
      <mat-card style="height: 150%; width: 100%" >
     
          <div class="coin">
          <button mat-raised-button color="">1000</button>
           kas
          </div>
          <h1 style="padding-top: 10%;"><b>
              € 0.00
          </b></h1>
          
          <hr>
      </mat-card>
    </div>
  
    <div class="col-md-5">
      <mat-card style="height: 150%; width: 80%"> 
          <div class="coin">
              <button mat-raised-button color="">1000</button>
               Bank
              </div>
              <h1 style="padding-top: 10%;"><b>
                  € 0.00
              </b></h1>
  <hr>
  
      </mat-card>
    </div>
  </div>
  
  </div>