<div class="container btnContainer">
  <div class="row my-3">
    <button mat-raised-button class="sideNavBtns" (click)="routeTo('')">
      <span class="iconSpacing"><i class="fa-solid fa-house"></i></span> Starten
    </button>
  </div>
  <div class="row my-3">
    <button
      mat-raised-button
      class="sideNavBtns"
      (click)="routeTo('financial')"
    >
    <span class="iconSpacing"><i class="fa-solid fa-chart-line"></i></span>Financieel
    </button>
  </div>
  <div class="row my-3">
    <button
      mat-raised-button
      class="sideNavBtns"
      (click)="routeTo('quotations')"
    >
    <span class="iconSpacing"><i class="fa-solid fa-file-lines"></i></span>Offertes
    </button>
  </div>
  <div class="row my-3">
    <button mat-raised-button class="sideNavBtns" (click)="routeTo('invoices')">
      <span class="iconSpacing"> <i class="fa-solid fa-clipboard-check"></i></span>Facturen
    </button>
  </div>
  <div class="row my-3">
    <button mat-raised-button class="sideNavBtns" (click)="routeTo('shopping')">
      <span class="iconSpacing"> <i class="fa-solid fa-cart-shopping"></i></span>Inkopen
    </button>
  </div>
  <div class="row my-3">
    <button
      mat-raised-button
      class="sideNavBtns"
      (click)="routeTo('cashandbank')"
    >
    <span class="iconSpacing"> <i class="fa-solid fa-bank"></i></span>Kas en bank
    </button>
  </div>
  <div class="row my-3">
    <button
      mat-raised-button
      class="sideNavBtns"
      (click)="routeTo('relationships')"
    >
    <span class="iconSpacing"> <i class="fa-solid fa-users"></i></span>Relaties
    </button>
  </div>
  <div class="row my-3">
    <button mat-raised-button class="sideNavBtns" (click)="routeTo('articles')">
      <span class="iconSpacing"><i class="fa-solid fa-dolly"></i></span>Artikelen
    </button>
  </div>
  <div class="row my-3">
    <button mat-raised-button class="sideNavBtns" (click)="routeTo('links')">
      <span class="iconSpacing"> <i class="fa-solid fa-plug"></i></span>Koppelingen
    </button>
  </div>
</div>
